main {
    text-align: center;
    background-color: #000;
}

main h1 {
    margin: 0;
    font-size: 50px;
    color: white;
    
}

.formations {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-image: url('../Image/Formation.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.formation {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 33%;
    text-align: center;
}

.formation h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #ffa500;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #ffa500;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #e69500;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}


@media (max-width: 768px) {
    .formations {
        flex-direction: column;
        align-items: center;
    }

    .formation {
        width: 90%; /* Occupy more width on smaller screens */
    }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
    main h1 {
        font-size: 28px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .formation h2 {
        font-size: 20px;
    }

    header nav ul li a {
        font-size: 14px;
    }
}
